.home-grid{
  display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }


  
  /* *********************************************** */
/* MEDIA QUERIES FOR 700 PX */
/* *********************************************** */


@media(max-width:43.75em){
  .home-grid{
    grid-template-columns: 1fr;
  }
}