@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: #242424;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.loader{
  background-color: #000000e9;
  width: 100svw;
  height: 100svh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* margin-left: -100px;
  margin-top: -100px; */
}

/* *********************************************** */
/* MEDIA QUERIES FOR 1300 PX */
/* *********************************************** */

@media(max-width:81.25em){
  html{
    font-size: 62.5%;
  }
}
